Repository QuiltMC/enigma, pull requests merged in 2025-09, with the labels that each got.

#281 use enigma variable
  enigma-server/src/main/java/org/quiltmc/enigma/network/DedicatedEnigmaServer.java
Labels: server, refactor

#287 Fix `TestPackageRename`
  enigma-swing/src/test/java/org/quiltmc/enigma/TestPackageRename.java
Labels: bug, test

#280 Named command args
  enigma-cli/src/main/java/org/quiltmc/enigma/command/ArgsParser.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/Argument.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/CheckMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/Command.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/CommonArguments.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/ComposeMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/ConvertMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/DecompileCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/DeobfuscateCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/DropInvalidMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/FillClassMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/HelpCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/InsertProposedMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/InvertMappingsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/Main.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/MapSpecializedMethodsCommand.java
  enigma-cli/src/main/java/org/quiltmc/enigma/command/PrintStatsCommand.java
  enigma-cli/src/test/java/org/quiltmc/enigma/command/ArgMapTest.java
  enigma-cli/src/test/java/org/quiltmc/enigma/command/ArgsParserTest.java
  enigma-cli/src/test/java/org/quiltmc/enigma/command/ValidateArgNamesTest.java
  enigma/src/main/java/org/quiltmc/enigma/util/Utils.java
Labels: enhancement, cli

#285 Add auto save toggle to menu bar
  enigma-swing/src/main/java/org/quiltmc/enigma/gui/element/menu_bar/file/FileMenu.java
  enigma/src/main/resources/lang/en_us.json
Labels: enhancement, user interface

#292 minor UI fixes
  enigma-swing/src/main/java/org/quiltmc/enigma/gui/docker/AbstractInheritanceTreeDocker.java
  enigma-swing/src/main/java/org/quiltmc/enigma/gui/element/EditorPopupMenu.java
  enigma/src/main/resources/lang/en_us.json
Labels: bug, user interface

#299 Fix being able to rename classes when disabled
  enigma-swing/src/main/java/org/quiltmc/enigma/gui/element/ClassSelectorPopupMenu.java
Labels: bug, user interface
